<!-- Hero Section -->
<section class="relative w-full h-[60vh] bg-cover bg-center flex justify-center items-center text-white text-center" style="background-image: url('/assets/watches.webp');">
  <div class="p-5 max-w-3xl">
    <h1 class="text-4xl font-bold mb-2 md:text-3xl sm:text-2xl">OUR WATCHES</h1>
    <p class="text-lg leading-relaxed md:text-base sm:text-sm mb-4">
      A collection of all the luxury watches we have on offer for immediate purchase. We provide a full year's warranty where manufacturer's warranty has expired, as well as fully insured, free shipping within 48hrs of purchase (Monday-Friday: 9am-5pm GMT).
    </p>
  </div>
</section>
