---
interface Link {
  ref: string;
  name: string;
  href: string;
}

const links: Link[] = [
  { ref: '', name: 'Home', href: '/' },
  { ref: '', name: 'Sourcing', href: '/contact' },
  { ref: '', name: 'Buy', href: '/categories' },
  { ref: '', name: 'Sell', href: '/contact' },
];
---

<link rel="stylesheet" href="/src/components/home/" />
<header id="main-header" class="transition">
  <div class="mx-auto flex flex-col items-center justify-center px-2 py-1 sm:px-2 sm:py-1 lg:max-w-7xl lg:px-4">
    <!-- Brand logo -->
    <div class="flex justify-center w-full mb-1">
      <a href="/" class="logo">
        <img src="/Clocked_In_Logo.svg" alt="Logo" class="responsive-logo" />
      </a>
      <style is:global>
        .responsive-logo {
          width: 40%; 
          max-width: 250px; 
          height: auto;
        }
      </style>
    </div>

    <!-- Navigation Menu -->
    <nav>
      <ul class="flex space-x-4 text-black text-lg uppercase tracking-wider">
        {links.map((link) => (
          <li><a href={link.href} class="hover:underline transition">{link.name}</a></li>
        ))}
      </ul>
    </nav>
  </div>
</header>

<script type="text/javascript">
  window.addEventListener('scroll', function () {
    var header = document.querySelector('header');
    header.classList.toggle('sticky', window.scrollY > 0);
  });
</script>

<style>

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: #000;
  min-height: 200vh;
}
/* Sticky Navbar */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.10s;
  padding: 5px 20px;
  z-index: 10000;
  background: transparent;
}
header.sticky {
  padding: 5px 20px;
  background: #fff;
}
/* Logo Styling */
header .logo {
  position: relative;
  text-align: center;
}
header .logo img {
  width: 100%;
  max-width: 125px;
}
header.sticky .logo img {
  width: 100%;
  max-width: 125px;
}
/* Navigation Menu */
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}
header ul li {
  list-style: none;
}
header ul li a {
  margin: 0 8px;
  text-decoration: none;
  color: #000;
  position: relative;
  transition: 0.6s;
}
nav a:hover {
  text-decoration: underline;
}
.header-spacer {
  height: 30%; /* Match the header's height before scroll */
  transition: height 0.3s;
}
header.sticky + .header-spacer {
  height: 30%; /* Adjust to match the compressed sticky header height */
}
</style>
