---
import Swiper from 'swiper';
import 'swiper/swiper-bundle.min.css';

---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FullScreen Slider</title>
</head>
<body>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="./assets/watches.webp" alt="Watch One" />
        <div class="slide-content">
          <span>Image One</span>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="./assets/Watches02.webp" alt="Watch Two" />
        <div class="slide-content">
          <span>Image Two</span>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="./assets/watch01.jpg" alt="Watch Three" />
        <div class="slide-content">
          <span>Image Three</span>
        </div>
      </div>
    </div>

   <!-- Pagination -->
  <div class="swiper-pagination"></div>
</div>

<script>
  var swiper = new Swiper('.swiper', {
    loop: true,
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
</script>
</body>
</html>

<style>
body, .wrap, .swiper-container, .swiper-slide, .slide-content {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.swiper-container {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.swiper-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.slide-content span {
  font-size: 5rem;
  color: #fff;
}

.swiper-pagination {
  bottom: 10px !important;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity 0.25s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
</style>