---
import '@fontsource/inter/latin-400.css';
import '@fontsource/inter/latin-500.css';
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/layout/Footer.astro';
import HomeHeader from '../components/layout/HomeHeader.astro';
import DefaultHeader from '../components/layout/DefaultHeader.astro';

interface Props {
  description: string;
  title: string;
}

const { description, title } = Astro.props;

// Determine if the current page is the homepage
const isHomePage = Astro.url.pathname === '/';
const isCategories = Astro.url.pathname === '/categories';
const showHomeHeader = isHomePage || isCategories;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/Clocked_In_Logo.svg" />
    <link rel="icon" type="image/png" sizes="32x32" href="/Clocked_In_Logo.svg" />
    <link rel="icon" type="image/png" sizes="16x16" href="/Clocked_In_Logo.svg" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-primary-50 text-primary-950 antialiased transition">
    
    <!-- Conditionally render HomeHeader for the homepage and DefaultHeader for other pages -->
    {isHomePage ? <HomeHeader /> : <DefaultHeader />}
    

    <main>
      <slot />
    </main>
    <Footer />

    <style is:global>
      body {
        background-repeat: repeat;
        background-attachment: scroll;
        background-size: auto;  
        background-color: #000000;
      }
    </style>

    <script>
      import Alpine from 'alpinejs';
      import collapse from '@alpinejs/collapse';

      Alpine.plugin(collapse);
      
      window.Alpine = Alpine;
      Alpine.start();
    </script>
  </body>
</html>
